# Virtual Environments
.venv/
/.venv/
backend/.venv/

# Environment files
.env
.env.*
.env.example

# Backend Config & Cache
backend/__pycache__/
backend/**/__pycache__/
.env
**/.env
backend/uploads/*
!backend/uploads/.gitkeep

# Frontend Config & Cache
node_modules/
frontend/dist/
frontend/.eslintcache

# OS
.DS_Store
Thumbs.db

# Agent Artifacts
*.md
!README.md
